body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}
input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 15vw; /* adjust for padding and border */
}
.container{
    margin-left: 2vw;
    margin-top: 1vh;
}
button {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #000000ad;
}

h2 {
    margin-top: 20px;
}
